.main-wrap{
  width: 300px;
  height: 250px;
  border: 1px solid blue;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
}
.tittle{
  font-family: AnjaliOldLipi;
  font-weight: bold;
  text-align: center;
}
.input-text{
  width: 100%;
  height: 27px;
  border-radius: 4px;
  background: none;
  border: 1px solid #bdc3c7;
}
.input-text:focus{
  outline: none;
}
.btn{
  width: 100%;
  border: none;
  height: 35px;
  background: blue;
  color: white;
  cursor: pointer;
}
.invalid{
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.alert{
  color: white;
  background-color: orangered;
  padding: 8px 10px;
  border-radius: 8px;
  margin: 5px 0;
}
