<div class="main-wrap">
  <p class="tittle">Sign in</p>
  <hr>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <input formControlName="email" type="email" class="input-text">
    <p class="alert"
       *ngIf="loginForm.get('email')?.touched
      && loginForm.get('email')?.invalid
">
      Email is required.
    </p>
    <br>
    <br>
    <input formControlName="password" type="password" class="input-text">
    <p class="alert"
       *ngIf="loginForm.get('password')?.touched
      && loginForm.get('password')?.invalid
    ">
      Password is required.
    </p>
    <br>
    <br>
    <input [disabled]="loginForm.invalid" type="submit" value="Login" class="btn {{loginForm.invalid?'invalid':''}}">
  </form>
</div>
